.card {
  display: block;
  margin-top: 40px;
  width: 100%;
  background: rgb(91, 155, 144) url("../images/partycloudy.jpg");
  background-size: 100%;
  max-width: 800px;
}

body {
  font-family: "Abril Fatface", cursive;
  font-family: "Alegreya Sans", sans-serif;
  color: white;
}
header {
  font-size: 40px;
  margin: 0 auto;
  font-weight: 900;
  color: azure;
}
.degree {
  font-size: 40px;
  font-weight: 600;
}
#realDegree {
  font-size: 60px;
}
#celsius {
  color: white;
}
#celsius:hover {
  color: white;
  cursor: pointer;
}
#fahrenheit:hover {
  color: white;
  cursor: pointer;
}
.descripsion {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 300;
}
.cloudy-rainy {
  font-size: 55px;
  color: rgb(154, 230, 226);
}
.more-explain {
  font-size: 20px;
  padding: 20px 10px 20px 10px;
  margin-top: 40px;
  margin-right: 5px;
}
.box-row {
  font-size: 18px;
  font-weight: 100;
}
.weather-icone {
  font-size: 45px;
  color: rgb(58, 158, 165);
}
.box-forecast {
  background-color: #2e4b58;
  color: white;
}
.seedaysforecast {
  position: relative;
  top: 70px;
  left: 100px;
  padding: 2px;
  margin-bottom: 0;
  font-size: 15px;
}
#currentLocation {
  padding: 10px, 20px;
}
.codename {
  color: black;
}
