.card {
  display: block;
  margin-top: 40px;
  width: 100%;
  background: rgb(87, 121, 185) url("../images/weather.jpg");
  background-size: 100%;
  max-width: 800px;
}

body {
  font-family: "Abril Fatface", cursive;
  font-family: "Alegreya Sans", sans-serif;
  color: white;
}
#changeCity {
  font-size: 40px;
  margin: 0 auto;
  font-weight: 900;
  color: azure;
  margin-bottom: 0;
}
#day_time {
  font-size: 18px;
  font-weight: 100px;
}

#lastUpdate {
  font-size: 15px;
  margin-top: 0;
}

#realDegree {
  font-size: 60px;
  font-weight: 300px;
  margin-left: 0;
}
#celsius {
  text-decoration: none;
}
#fahrenheit {
  text-decoration: none;
}

#celsius:hover {
  text-decoration: none;
  cursor: default;
}
#fahrenheit:hover {
  text-decoration: none;
  cursor: default;
}
.weather-temperature .unit {
  text-decoration: none;
  font-size: 18px;
  position: relative;
  bottom: 20px;
}
.weather-temperature .active {
  color: white;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
#descripsion {
  text-transform: capitalize;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 300;
}
.cloudy-rainy {
  font-size: 55px;
  color: rgb(154, 230, 226);
}
.more-explain {
  font-size: 20px;
  padding: 20px 10px 20px 10px;
  margin-top: 40px;
  margin-right: 5px;
}

#currentLocation {
  padding: 10px, 20px;
}
.codename {
  color: black;
}

.weather-forecast {
  text-align: center;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  color: aliceblue;
}
.date-forcaste {
  font-size: 15px;
}
#forecast-temp-max {
  font-weight: bolder;
}
